@use '../constants/colors.scss';
@use '../constants/fonts.scss';
@use '../button/button.scss';

.my-slider {
  &__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__pic {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 766px;
    object-fit: contain;
    object-position: center;
  }

  &__description {
    &-container {
      margin: 47px 0 29px;
      width: 100%;
      max-width: 766px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-item {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &_left {
        border-right: 1px solid colors.$border-gray;
      }
    }

    &-wrapper {
      // width: 50%;
      margin: 0 24px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &-title {
      margin: 0;
      padding: 0;
      font-family: fonts.$base-font;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 150%;
      color: colors.$black;
    }

    &-value {
      margin: 0;
      padding: 0;
      font-family: fonts.$base-font;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 150%;
      color: colors.$black;
    }
  }

  &__button {
    width: 90%;
    max-width: 346px;
    height: 60px;
    align-self: center;
    margin: 0;

    &-container {
      width: 100%;
      max-width: 766px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (min-width: 340px) {
  .my-slider {
    &__description {
      &-value {
        font-size: 24px;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .my-slider {
    &__description {
      &-container {
        margin: 30px 0 73px;
        width: 100%;
        max-width: 766px;
        height: 58px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &-wrapper {
        margin: 0 35px;
      }

      &-title {
        font-size: 18px;
      }

      &-value {
        font-size: 24px;
      }

      &__button {
        width: 346px;
        height: 60px;
        align-self: center;
        margin: 0;
      }
    }
  }
}
