.my-slider {
  // margin: 0;
  // padding: 0;
  width: 100%;
  // height: 497px;
  // max-width: 766px;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  &__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 497px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__pic {
    margin: 0;
    padding: 0;
    // width: 766px;
    // height: 497px;
    object-fit: cover;
    object-position: center;
  }
}
