@use '../constants/colors.scss';
@use '../constants/fonts.scss';
@use '../button/button.scss';

.my-slider {
  &__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__pic {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 766px;
    object-fit: contain;
    object-position: center;
  }

  &__description {
    &-container {
      margin: 30px 0 73px;
      width: 100%;
      max-width: 766px;
      height: 58px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-wrapper {
      // width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      &_left {
        padding: 0 48px 0 35px;
        border-right: 1px solid colors.$border-gray;
      }

      &_right {
        padding: 0 0 0 99px;
      }
    }

    &-title {
      margin: 0;
      padding: 0;
      font-family: fonts.$base-font;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: colors.$black;
    }

    &-value {
      margin: 0;
      padding: 0;
      font-family: fonts.$base-font;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      color: colors.$black;
    }
  }

  &__button {
    width: 346px;
    height: 60px;
    align-self: center;
    margin: 0;

    &-container {
      width: 100%;
      max-width: 766px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
