@use '../constants/colors.scss';
@use '../constants/fonts.scss';

.button {
  display: block;
  width: 100%;
  max-width: 382px;
  height: 60px;
  margin: 0;
  padding: 0;
  color: colors.$white;
  font-weight: 600;
  font-size: 18px;
  font-family: fonts.$base-font;
  font-style: normal;
  line-height: 320%;
  text-align: center;
  text-decoration: none;
  background-color: colors.$green;
  border: 0;
  outline: 0;
}
