@use '../../constants/colors.scss';
@use '../../constants/fonts.scss';

.main__annotation-description {
  width: 76%;
  text-align: left;
  margin: 0 0 86px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: colors.$black;
}