@use '../constants/colors.scss';
@use '../constants/fonts.scss';
@use '../tips/tips.scss';

.description {
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 770px;

  &-title {
    margin: 0;
    padding: 0;
    color: colors.$black;
    font-weight: 500;
    font-size: 42px;
    font-family: fonts.$base-font;
    font-style: normal;
    line-height: 150%;
  }

  &-text {
    margin: 0;
    padding: 0;
    color: colors.$black;
    font-weight: normal;
    font-size: 16px;
    font-family: fonts.$base-font;
    font-style: normal;
    line-height: 150%;
  }
}
