@use '../constants/colors';
@use '../header/header.scss';
@use '../main/main.scss';
@use '../illumination/illumination.scss';
@use '../note/note.scss';
@use '../geometry/geometry.scss';
@use '../texture/texture.scss';

.root {
  color: colors.$white;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}