@use '../constants/colors';
@use '../header/header.scss';
@use '../main/main.scss';
@use '../illumination/illumination.scss';
@use '../note/note.scss';
@use '../geometry/geometry.scss';
@use '../texture/texture.scss';
@use '../object/object.scss';
@use '../filling/filling.scss';
@use '../design/design.scss';
@use '../stages/stages.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: colors.$white;
}
