@use '../constants/colors';
@use '../header/header.scss';
@use '../main/main.scss';
@use '../menu/menu.scss';
@use '../illumination/illumination.scss';
@use '../note/note.scss';
@use '../geometry/geometry.scss';
@use '../texture/texture.scss';
@use '../object/object.scss';
@use '../filling/filling.scss';
@use '../design/design.scss';
@use '../stages/stages.scss';

.root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: colors.$white;
}
