@use '../constants/colors.scss';

.main {
  width: 100%;
  height: 621px;
  background-color: colors.$green;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}