@use '../constants/colors.scss';
@use './__images/main__images.scss';
@use './__decor/main__decor.scss';
@use './__annotation/main__annotation.scss';

.main {
  width: 100%;
  height: 621px;
  background-color: colors.$green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}