@use '../constants/colors.scss';
@use '../constants/fonts.scss';
@use '../button/button.scss';

.stages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  &__title {
    margin: 99px auto 71px;
    color: colors.$black;
    font-weight: 500;
    font-size: 42px;
    font-family: fonts.$base-font;
    font-style: normal;
    line-height: 150%;
  }

  &__stage-container {
    display: grid;
    grid-gap: 25px;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: min-content min-content min-content;
    margin: 0 0 27px;
  }

  &__stage {
    display: grid;
    grid-template-areas:
      'number date marker'
      'title title title'
      'text text text';
    grid-template-rows: min-content min-content auto;
    grid-template-columns: 70px auto 61px;
    align-items: center;
    justify-items: start;
    width: 380px;
    height: 360px;

    &-number {
      grid-area: number;
      width: auto;
      // height: 40px;
      max-width: 70px;
      margin: 0 20px 0 0;
      padding: 0;
      color: colors.$green;
      font-weight: 500;
      font-size: 50px;
      font-family: fonts.$base-font;
      font-style: normal;
      line-height: 100%;
    }

    &-date {
      grid-area: date;
      align-self: left;
      margin: 0;
      padding: 0;
      color: colors.$gray;
      font-weight: normal;
      font-size: 16px;
      font-family: fonts.$base-font;
      font-style: normal;
      line-height: 140%;

      &_one {
        max-width: 176px;
      }

      &_two {
        max-width: 135px;
      }
    }

    &-line {
      grid-area: marker;
      width: 100%;
      height: 0;
      background-color: colors.$gray;
      border-bottom: 2px dashed colors.$white;

      &_last {
        display: none;
      }
    }

    &-line-dot {
      width: 100%;
      height: 2px;
      margin-bottom: 50px;
      background-image: repeating-linear-gradient(to left, black 8px, transparent 4px);
    }

    &-title {
      grid-area: title;
      align-self: start;
      margin: 35px 0 10px;
      padding: 0;
      color: colors.$black;
      font-weight: 600;
      font-size: 20px;
      font-family: fonts.$base-font;
      font-style: normal;
      line-height: 160%;
    }

    &-description {
      grid-area: text;
      align-self: start;
      margin: 0;
      padding: 0;
      color: colors.$black;
      font-weight: normal;
      font-size: 16px;
      font-family: fonts.$base-font;
      font-style: normal;
      line-height: 150%;
    }
  }

  &__button {
    margin: 58px 0 140px;
  }
}
