@use '../constants/colors.scss';
@use '../constants/fonts.scss';
@use '../description/description.scss';
@use '../links/links.scss';

.illumination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: colors.$white;

  &__description {
    margin: 0 auto 47px;

    &-title {
      margin: 0 0 28px;
    }

    &-text {
      margin: 0 0 40px;

      &_last {
        margin: 0 0 50px;
      }
    }

    &-tips {
      margin: 0 0 39px;
    }
  }

  &__links-list {
    margin: 55px 0;
  }

  &__links {
    align-items: center;
    justify-content: space-around;
    max-height: 210px;
    margin: 146px auto 72px;
  }
}
