@use '../constants/colors.scss';
@use '../constants/fonts.scss';
@use './illumination__links.scss';
@use './illumination__description.scss';

.illumination {
  width: 100%;
  background-color: colors.$white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}