@use '../constants/colors.scss';
@use '../constants/fonts.scss';

.tips {
  width: 100%;
  background: colors.$white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  padding: 37px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &-list {
    margin: 0;
    // padding: 0;
    list-style-type: none;
  }
}

.tip {
  font-family: fonts.$base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: colors.$black;
}