@use '../constants/colors.scss';
@use '../constants/fonts.scss';

.note {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: colors.$green;

  &__description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 95%;
    max-width: 770px;
    margin: 80px auto;
  }

  &__title {
    margin: 0 0 28px;
    padding: 0;
    color: colors.$black;
    font-weight: bold;
    font-size: 24px;
    font-family: fonts.$base-font;
    font-style: normal;
    line-height: 150%;
  }

  &__text {
    margin: 0;
    padding: 0;
    color: colors.$black;
    font-weight: normal;
    font-size: 16px;
    font-family: fonts.$base-font;
    font-style: normal;
    line-height: 150%;
  }

  &__quotes {
    position: absolute;
    // right: -88px;
    right: -30px;
    // bottom: 10px;
    bottom: -50px;
    // position: absolute;
    // right: 213px;
    // bottom: 33px;
    align-self: flex-end;
    width: 88px;
    height: 70px;
  }
}

@media screen and (min-width: 1000px) {
  .note {
    &__quotes {
      right: -88px;
    }
  }
}
