@use '../__decor-tree/main__decor-tree.scss';
@use '../__decor-sockle/main__decor-sockle.scss';

.main__decor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}