@use '../constants/colors.scss';
@use '../constants/fonts.scss';

.links {
  display: flex;
  box-sizing: border-box;
  width: 95%;
  max-width: 971px;
  // padding: 109px 55px;
  padding: 0;
  border: 1px solid #d9dde9;
  border-radius: 9px;

  &-list {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
  }

  &-item {
    margin: 0;
    padding: 0;

    &::before {
      display: inline-block;
      width: 7px;
      height: 9px;
      margin: 0 10px 2px 0;
      background-color: colors.$green;
      content: '';
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
  }

  &-link {
    color: colors.$green;
    font-weight: 600;
    font-size: 18px;
    font-family: fonts.$base-font;
    font-style: normal;
    line-height: 195.5%;
    text-decoration: none;
  }
}
