@use '../__button-wrapper/main__button-wrapper.scss';

.main__buttons {
  margin: 0 0 0 21vw;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}