@use '../constants/colors.scss';
@use '../constants/fonts.scss';

.object {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: colors.$white;

  &__description {
    margin: 118px 0 0;

    &-title {
      margin: 0 0 28px;
    }

    &-text {
      &:first-of-type {
        margin: 0 0 30px;
      }

      &:nth-last-of-type(2) {
        margin: 0 0 31px;
      }

      &_last {
        margin: 0 0 60px;
      }
    }
  }

  &__links {
    margin: 0 0 31px;
    padding: 0 109px;
  }

  &__links-list {
    margin: 34px 0;
  }

  &__sockle {
    position: absolute;
    right: 174px;
    bottom: 344px;
    width: 126px;
    height: 275px;
  }
}
