@use '../constants/colors.scss';
@use '../constants/fonts.scss';

.object {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: colors.$white;

  &__description {
    position: relative;
    margin: 44px 0 0;

    &-title {
      margin: 0 0 28px;
    }

    &-text {
      &:first-of-type {
        margin: 0 0 30px;
      }

      &:nth-last-of-type(2) {
        margin: 0 0 31px;
      }

      &_last {
        margin: 0 0 60px;
      }
    }
  }

  &__links {
    margin: 0 0 31px;
    padding: 0 44px;
  }

  &__links-list {
    margin: 34px 0;
  }

  &__sockle {
    position: absolute;
    right: -161px;
    bottom: 344px;
    display: none;
    width: 126px;
    height: 275px;
  }
}

@media screen and (min-width: 768px) {
  .object {
    &__description {
      margin: 118px 0 0;
    }
  }
}

@media screen and (min-width: 1120px) {
  .object {
    &__sockle {
      display: block;
    }
  }
}
