@use '../constants/colors.scss';
@use '../constants/fonts.scss';

.design {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../../images/design/design-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 970px;
    margin: 96px auto 117px;
    // padding: 84px 99px 169px;
    background: colors.$white;
    border-radius: 5px;
  }

  &__grid {
    display: grid;
    grid-template-areas:
      'text1 text1'
      'list bonus'
      'text2 text2';
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 772px;
    margin: 99px 0 0;
  }

  &__text {
    margin: 0;
    color: colors.$black;
    font-weight: normal;
    font-size: 16px;
    font-family: fonts.$base-font;
    font-style: normal;
    line-height: 26px;

    &_one {
      grid-area: text1;
      max-width: 706px;
      margin: 0 0 53px;
    }

    &_bonus {
      grid-area: bonus;
      max-width: 319px;
      margin: 41px 0 0;
    }

    &_two {
      grid-area: text2;
      max-width: 706px;
      margin: 0 0 89px;
    }
  }

  &__highlight {
    font-weight: bold;
    font-size: 16px;
    font-family: fonts.$base-font;
    font-style: normal;
    line-height: 160%;

    &_green {
      color: colors.$green;
    }

    &_black {
      color: colors.$black;
    }
  }

  &__link-wrapper {
    grid-area: list;
    margin: 0 0 54px;
  }

  &__title {
    margin: 0 0 15px;
    padding: 0;
    color: colors.$black;
    font-weight: bold;
    font-size: 16px;
    font-family: fonts.$base-font;
    font-style: normal;
    line-height: 160%;
  }

  &__list {
    max-width: 316px;
    margin: 0;
    padding: 0;
    list-style-position: inside;

    &-item {
      color: #000;
      font-weight: normal;
      font-size: 16px;
      font-family: fonts.$base-font;
      font-style: normal;
      line-height: 160%;
    }
  }
}
